<h2>Annual After School Program</h2>

During the after school program, you will learn:<br>
<br>
<b> Module 1 </b>
- Self Awareness<br>
- Social Awareness<br>
- Project Design<br>
<br>

<b> Module 2 </b><br>
- Project Execution<br>
- Project Delivery<br>
<br>

<b> Date </b><br>
September 5, 2013 - June 15, 2014<br>
Monday and Wednesday; 5.30 pm - 8:30 pm<br>
<br>

<b> Application Fee </b> <br>
Fees: RMB 30,000 (Early Bird) / RMB 32,000 (Normal Registration)	

<% if session["user_id"].present? %>
    <% user = User.find_by_id(session["user_id"]) %>
	<% if user.interest == "student" %>
		<p><%= link_to "Apply Now", apply_url(user) %></p>
	<% end %>
<% else %>
	<br><br>
	<b>Please <%= link_to "log in", login_url %> first if you are interested in applying to this program.</b>
<% end %>


