

<h2> About Us </h2> 

 LeadImpact^x is an education for youth leaders. We provide youth with the skills and  knowledge to make positive social and environmental changes. 

<h2> Our Story </h2>

<li> We are idealists with a big dream </li> 
We want to make positive social impact and we want to incubate future leaders of impact.



<li> We are a social enterprise </li> 
Our focus on our social mission is equally as important as our focus to be profitable and self sustainable.

<h2> Our Mission </h2> 

To provide an open platform for youth to become more well-rounded individuals while developing their leadership skills, broadening their horizons and building their sense of social responsibility.
