
<h2>Careers / Jobs</h2>
Lead Impact ^x is recruiting staffs to help us develop courses for our 2013 Annual After School Program. <br> We are looking for people with the following qualities: 
<br>
1) Understand the complexity of social problems and the unique role of social enterprises in solving social problems <br>
2) Eager to use social entrepreneurship to establish a better society <br>
3) Has graduated High School or higher
<br>
<br>
<b> Application </b> <br>

1) Download our application from our website: www.one-edu.org/项目/社会企业家成长项目 <br>
2) Email your application to us via: application@one-edu.org (deadline June 31) <br>
3) Telephone interview: July 7 <br>
4) Result Announcement: July 15 <br>
<br>
<b> Project Location </b><br>									                
Beijing
