<h2> Get Involved </h2>

<li> Stay in the Loop: </li>
<%= link_to "Sign up", subscribe_url %> for our newsletter to receive updates on LeadImpact^x, upcoming application deadlines, news, events, and more.<br>
<br>
<li> Join Our Programs: </li>
Check out <%= link_to "our programs", ourprograms_url %><br>
<br>
<li> Join Our Team: </li>
Check out our <%= link_to "job posts", careers_url %>
<br>
<br>
<li> Support Us by Donating Your: </li>
 –	Time: Volunteer for our upcoming events<br>
 –	Skill: We need support on IT (web design), legal, etc<br>
 –	Money: You can establish a general scholarship, sponsor a student or sponsor a project<br>
<br>

<b><%= link_to "Contact us", contactus_url %> and let us know how you want to be involved!</b> 

