
Tee: I will update this page again

<h2> Lead Impact^x Social Entrepreneurship Summer Camp and Annual After School Program are now open for application </h2>

<b> Why apply? </b> <br>
- Develop your social entrepreneurship skills <br>
- Create impact on a social cause that you care about <br>
- Differentiate yourself in your US college applications <br>
- Receive our unique program certificate <br>
- Receive global SEQ certificate after completion of Module 1 AND Module 2 <br>
- Opportunity to receive a scholarship for the summer program, win a scholarship for our 3-year social leadership program, and win up to RMB 1,000 for social impact project funding <br>
<br>
<b> How to apply? </b> <br>
- Download our application from our website: www.one-edu.org/项目/社会企业家成长项目 <br>
- Email your application to us via: application@one-edu.org <br>
	
	

